@import 'colors';

mat-card {
  height: 85px;
  min-width: 645px;
  &.hover {
    &:hover {
      background: $dark;
      border-top: 1px solid $light;
      border-left: 1px solid $light;
      border-right: 1px solid $light;
      cursor: pointer;
    }
  }
}
